################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SRFNprojectJULY2019proj/v16/Server/sqlite3
